//colors
$color1: #DF2D01;
$color2: #FFD7D7;
$color3: #4E5166;

//background-color
$background1: #ffffff;
$background2: #f6f6f6;

//font-size
$font-size1: 25px;
$font-size2: 20px;
$font-size3: 18px;
$font-size4: 15px;

//margin
$margin_none: 0;
$margin-m: 10px;
$margin-l: $margin-m * 2;
$margin-xl: $margin-l * 2;

//padding
$padding_none: 0;
$padding-m: 10px;
$padding-l: $padding-m * 2;
$padding-xl: $padding-l * 2;

//greys
$grey: #6e6b6b;
$light_grey: #a09c9c;
$very_light_grey: #eaeaea;
$dark_grey: #7d7d7d;
$very_dark_grey: #353535;